---
import { pull_works } from "../../api";
import { type Work } from "../../models";


export async function getStaticPaths() {
	const works = await pull_works();
	let result = [] as any[]
	for (const work of works) {
		result.push({params: {slug: work.frbrUri}});
	}
	return result
}

async function getWork(frbrUri: string): Promise<Work | undefined> {
	const works = await pull_works();
	for (const work of works) {
		if (work.frbrUri = frbrUri) {
			return work;
		}
	}

	return undefined;
}

const { slug } = Astro.params;
const work = await getWork(slug)
const expression = work?.expressions[0]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samland</title>
	</head>
	<body>
		<h1>Samland</h1>
		<h2>Legislation {slug}</h2>
		{expression?.title}
		
		<div class="akoma-ntoso" set:html={expression?.content}></div>
	</body>
</html>
