---
import { pull_works, default_expression } from "../api"

let works = await pull_works();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samland</title>
	</head>
	<body>
		<h1>Samland</h1>
		<h2>Legislation</h2>
		<table>
			{works.map(work => (
				<tr>
					<td>
						<a href={`expression${default_expression(work)?.frbrUri}`}>{default_expression(work)?.title}</a>
					</td>
					<td>{work.frbrUri}</td>
				</tr>
			))}
		</table>
	</body>
</html>
