---
import { pull_works, default_expression } from "../api"
import Layout from "../Layout.astro";


let works = await pull_works();
---

<Layout title="Home">
	<h1>Samland</h1>
	<h2>Legislation</h2>
	<table>
		{works.map(work => (
			<tr>
				<td>
					<a href={`expression${default_expression(work)?.frbrUri}`}>{default_expression(work)?.title}</a>
				</td>
				<td>{work.frbrUri}</td>
			</tr>
		))}
	</table>
</Layout>
