---
import { pull_works } from "../api"

let works = await pull_works();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samland</title>
	</head>
	<body>
		<h1>Samland</h1>
		<h2>Legislation</h2>
		<ul>
			{works.map(work => (
				<li><a href={`works/${work.frbrUri}`}>{work.title}</a></li>
			))}
		</ul>
	</body>
</html>
